
<!DOCTYPE html>
<html>
    {%load static%}
    <link rel="stylesheet" type="html/css" href="{% static 'css/main.css'%}">
    
    
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token%}
        {{form.as_p}}
        <button type="submit">Upload</button>
    </form>
    <hr>
    <div>
    {% if obj %}
    <img src="{{obj.image.url}}"  >
    {% endif %}
    </div>
    
        <img src="{{obj.image.url}}">
        <div>
            <h2>
                why is css not working
            </h2>
        </div>
</html>